.table td, .table th {
  padding: 0.25rem 0.25rem;
}

.list-group-item {
  padding: 0.25rem 0.25rem;
}

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 35px;
  height: 35px;
  margin: 15px 1px 1px 10px;
  border-radius: 50%;
  border: 5px solid #fcf;
  border-color: #fcf transparent #fcf transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
