<h1>Search People</h1>
<div class="search-form-body">
  <form #searchForm="ngForm" class="form-group" (ngSubmit)="searchPeople(searchForm.value)">
    <div class="form-inline">
      <div class="form-group">
        <input type="text" name="searchText" id="searchtext" class="form-control my-1 mr-sm-2"
               placeholder="Search Names..." ngModel required>
        <input type="number" name="maxResultCount" id="maxResultCount" class="form-control my-1 mr-sm-2" placeholder="0" ngModel />
        <input type="number" name="delayInSeconds" id="delayInSeconds" class="form-control my-1 mr-sm-2" placeholder="0" ngModel />
      </div>
      <button type="submit" class="btn btn-primary my-1">Search</button>
    </div>
  </form>
</div>
<div class="search-results">
  <table *ngIf="people" class="table">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Postal Code</th>
        <th>Birth Date</th>
        <th>Photo</th>
        <th>Interests</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let person of people">
      <td>{{person.givenName}} {{person.familyName}}</td>
      <td>{{person.address1}} <br/> {{person.address2}}</td>
      <td>{{person.city}}</td>
      <td>{{person.state}}</td>
      <td>{{person.postalCode}}</td>
      <td>{{person.birthDate | date : "yyyy-MM-dd" }}</td>
      <td>
        {{person.photoFileName}}
      </td>
      <td>
        <ul  *ngFor="let interest of (person.interests ? person.interests.slice(0,3): [])" class="list-group list-group-flush">
          <li class="list-group-item">
            {{interest.name}}
          </li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
</div>
